*~
*.debug
*.dSYM
*.gcov
*.js.mem
*.map
*.mp4
*.o
*.out
*.pyc
*.swp
*.swo
*.wasm
*.wast
*-bak.cpp
*tmp.*

.DS_Store
a.out
a.out.js
web/directed-digital-evolution.js

build/
doc/_build/

package-lock.json
node_modules/
coverage_include/

directed-digital-experiment
*.cfg
output/
*.tar.gz

pyenv/

data/
